body
{
    font-family:        'Helvetica Neue', Helvetica; 
    font-weight:        300; 
    padding:            20px;
    background-color:   #000000;
    color:              #ffffff;
}

/* -- table */
th
{
    text-align:         left;
    background-color:   steelBlue;
}
th, td
{
    padding:            0 1em 0.5ex 0;
}
td
{
    background-color:   #dfdfdf;
}
th.center, td.center
{
    text-align:         center;
}
th.numPlus, td.numPlus
{
    text-align:         right;
    color:              #00aa00;
}
th.numMinus, td.numMinus
{
    text-align:         right;
    color:              #ff0000;
}   

#formDiv
{
    width:300px;

    position: relative;
    z-index: 2;   
}

#summaryDiv
{
    width: 550px;
}

/* --- button */
.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 20px 40px 20px 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-top: 20px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 24px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover
{
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.button:active
{
    border-top-color: #141414;
    background: #141414;
}

.faqButton
{
    background: #787878; 
    height: 40px;
    padding: 10px 10px;
    margin-top: 0px;
}

.faqButton:hover
{
    background: #BADAdd;
}

.title
{
  font:     bold 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.title1
{
    color:    #ffffff;
    font-size:  26px;
}
.title2
{
    color:    #DD8F8F;
    font-size:  18px;
}
.bar
{
    fill:   red;
}
.bar:hover
{
    fill:   cyan;
}
.axis
{
    font:               10px sans-serif;
}
.axis path, .axis line 
{
    fill:               none;
    stroke:             #000;
    shape-rendering:    crispEdges;
}
.x.axis path
{
    display:            none;
}
.d3-tip
{
    line-height:        1;
    font-weight:        bold;
    padding:            12px;
    background:         rgba(0, 0, 0, 0.8);
    color:              #fff;
    border-radius:      2px;
}
.d3-tip: after
{
    /* Creates a small triangle extender for the tooltip */

    box-sizing:         border-box;
    display:            inline;
    font-size:          10px;
    width:              100%;
    line-height:        1;
    color:              rgba(0, 0, 0, 0.8);
    content:            "\25BC";
    position:           absolute;
    text-align:         center;
}
.d3-tip.n: after
{
    /* Style northward tooltips differently */

    margin:             -1px 0 0 0;
    top:                100%;
    left:               0;
}

/* pie chart */
#piechart
{
    width: 600px; 
    height: 500px; 
    margin-top: 10px;
    margin-left: 20px;
}
/* width: 500px; height: 500px; margin-top: 10px; */